
.div1
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

   
}
.one
{
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 50PX;
    margin-right: 50PX;
    font-size:22px;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';
    letter-spacing: 3px;
}
.two
{
    margin-top:  30PX;
    letter-spacing: 3px;
    margin-bottom: 30PX;
    margin-left: 5PX;
    margin-right: 50PX;
    font-size: 22px;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';

}

.three
{
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 5PX;
    letter-spacing: 3px;
    margin-right: 50PX;
    font-size: 22px;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';

}
.four
{
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 5PX;
    margin-right: 70PX;
    font-size: 22px;
    letter-spacing: 3px;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';

}
.five
{
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 3PX;
    margin-right: 70PX;
    font-size: 22px;
    display: inline-block;
    color:pink;
    letter-spacing: 3px;
    font-family: 'Times New Roman';

}
.six
{
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 3PX;
    margin-right: 50PX;
    font-size: 22PX;
    letter-spacing: 3px;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';

}
.img1
{
    position:relative;
    width: 30vw;
    margin-top: 30px;
    margin-left: 50px;
    padding: left 10%;
    border-radius: 100%;
    float: left;
    cursor: pointer;   
}
.h2
{
    color:rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 700;
    font-family: 'Times New Roman';
    display: inline-block;
    margin-top:100px;
    padding-left: 30px;
    margin-left: 50px;
    padding-right: 50px;


}
h3
{
   
    font-size: 20PX;
    color:skyblue;
    max-width: 600;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-left: 550px;
    padding-right: 250px;
}
li
{
    color: bisque;
    font-size: 25px;
    max-width: 600;


}
.he1{
    letter-spacing: 4px;
    color:pink;
}