.logo
{
    text-align: center;
    align-items: center;
    letter-spacing: 7px;
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 20PX;
    margin-right: 50PX;
    font-size:30px;
    display: inline-block;
    color:pink; 
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    
}
.one
{
    letter-spacing: 3px;
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 50PX;
    margin-right: 70PX;
    font-size:22px;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';

}
.two
{
    letter-spacing: 3px;
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 5PX;
    margin-right: 70PX;
    font-size: 22px;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';

}

.three
{
    letter-spacing: 3px;
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 5PX;
    margin-right: 70PX;
    font-size: 22px;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';

}
.four
{
    letter-spacing: 3px;
    letter-spacing: 3px;
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 5PX;
    margin-right: 70PX;
    font-size: 22px;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';

}
.five
{
    letter-spacing: 3px;
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 3PX;
    margin-right: 70PX;
    font-size: 22px;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';

}
.six
{
    letter-spacing: 3px;
    margin-top:  30PX;
    margin-bottom: 30PX;
    margin-left: 3PX;
    margin-right: 50PX;
    font-size: 22PX;
    display: inline-block;
    color:pink;
    font-family: 'Times New Roman';

}
.seven{
    color: rgb(20, 213, 220);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 4px;
    text-underline-position: below;

}
.div2
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
   
}
.img1{
    position: relative;
    height: 35vw;
    width: 20vw;
    border-radius: 40px;
    cursor: pointer;
    float:left;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 65px;
}
.h2{
    font-size: 50px;
    color:aqua;
    text-align: center;
}
.h3{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.s1, .img2{
    align-items: center;
    text-align: center;
    height: 50px;
    width: 50px;
    
}
.div1{
    color: pink;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}